/*overall*/
html {
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%
}
.container {
  height: 100%;
  padding: 100px 10px 10px;
  box-sizing: border-box;
}
/*navbar*/
.navbar-custom {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.navbar-logo {
  font-size: 20px;
  padding: 0 16px;
}
.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-menu li {
  display: inline;
  padding: 0 16px;
}
.navbar-cross{
  display: none;
}
.navbar-burger {
  display: none;
}
@media screen and (max-width: 678px) {
  .navbar-cross{
    display: block;
    text-align: right;
    padding: 16px 16px;
  }
  .navbar-burger {
    display: block;
    padding: 0 16px;
  }
  .navbar-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 500ms;
  }
  .navbar-menu li{
    display: block;
    text-align: right;
  }
  /* show menu */
  .nav-active {
    right: 0;
  }
  /* hide burger when menu is showing*/
  .nav-hide {
    display: none;
  }
}
/*
.navbar-custom {
  position: fixed;
  background-color: #ffffff;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-custom a {
  text-decoration: none;
}
.navbar-logo {
  padding: 0 16px;
}
.navbar-menu {
}
.navbar-menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.navbar-menu li {
  padding: 0 16px;
}
.navbar-icon {
  display: none;
}
@media screen and (max-width: 600px){
  .navbar-menu {
    display: none;
  }
  .navbar-icon {
    display: block;
    float: right;
    padding: 0 16px;
  }
  .responsive .navbar-menu {
    display: block;
    text-align: right;
  }
}
*/
/*intro*/
.intro-container img {
  float: right;
  height: 250px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*about*/
.about-container {
  background-color: #dcdcdc;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tool-gallery::after {
  content: "";
  clear: both;
  display: table;
}
.tool-container {
  float: left;
  width: 22%;
}
.tool-container img {
  max-width: 100%
}
/*projects*/
.project-item-odd {
  float: left;
  width: 33%;
  height: 100px;
  background-color: #dcdcdc;
}
.project-item-even {
  float: left;
  width: 33%;
  height: 100px;
  background-color: #ffffff;
}
/*Contacts*/
.contact-container {
  background-color: #dcdcdc;
  height: 75%;
}
/*footer*/
.footer-container {
  height: 25%
}
.footer-link {
  float: right;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .copy-right {
  margin-bottom: 0;
}
